@charset "utf-8";
@import "nav";
@import "header";
@import "slide";
@import "bio";
@import "projects";
@import "contact";
@import "what";

@import "colour";

@import url(http://fonts.googleapis.com/css?family=Metrophobic);

html {
  font-family: 'Metrophobic', sans-serif;
}

.container {
  margin: auto;
  max-width: 850px;
  font-size: 1.1em;
}

.justify {
  text-align: justify;
}

h2 {
  font-size: 2em;
  text-transform: uppercase;

  span {
    display: inline-block;
  }

  span.line {
    height: 2px;
    width: 50px;
    background: #333;
    vertical-align: middle;
  }
}


a {
  text-decoration: none;

  color: $link;

  &:hover {
    color: $link_hover;
  }
}

.twitter,
.twitter:visited,
.icon-twitter,
.fa-twitter,
.fa-github {
  color: $twitter_link;

  &:hover {
    color: $twitter_link_hover;
  }
}
