@import "compass/css3/border-radius";

.team-members {
  text-align: center;
  padding: 0;
}

.member {
  width: 350px;
  margin: 10px 20px;

  display: inline-block;
  vertical-align: top;

  list-style-type: none;

  img {
    @include border-radius(1000px);
  }

  .bio {
    text-align: justify;
    min-height: 350px;
  }

  ul.contact {
    list-style-type: none;

    margin: 25px;
    padding: 0px;

    li {
      display: inline-block;
      padding: 0 5px;
    }
  }
}

a.fa:before {
  margin-right: 5px;

  font-size: 1.5em;
}
