@import "compass/css3/box-shadow";

@import "colour";
@import "typography";

#logo {
  font-size: $large;
}

.nav {
  position: relative;
  padding: 20px 0;

  @include box-shadow(0 1px 5px black);

  text-align: center;

  .menu-button {
    display: none;
  }

  ul {
    padding: 0px;
  }

  li {
    display: inline-block;
    margin: 0 0.5em;

    list-style: none;

    a, a:visited {
      color: $link;
      text-decoration: none;
    }

    a:hover {
      color: $link_hover;
    }
  }
}
