body {
  min-width: 320px;
}

.what p {
  text-align: justify;

  span {
    display: inline;
  }
}

@media screen and (max-width: 530px) {
  html {
    font-size: 14px;
  }
}

@media screen and (max-width: 420px) {
  h2 {
    font-size: 1.5em;
  }

  .slide {
    padding: 15px;
  }

  #logo {
    display: block;
    position: relative;
    margin-left: 15px;
    padding-top: 15px;
    height: 60px;
    text-align: left;
  }

  .nav {
    padding: inherit;

    ul {
      display: none;

      margin: 0px;

      &.visible {
        display: block;
      }
    }

    li {
      display: list-item;
      padding: 5px 0px;
      border-top: solid 1px gray;
      height: 1.5em;

      a {
        display: block;
      }
    }

    .menu-button {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      height: 75px;
      width: 75px;
      line-height: 70px;
    }
  }
}
