.nav
  #logo LessMad
  = link_to "Menu", '#', {onclick: "toggleMenu(); return false;", class: "menu-button"}
  %ul
    %li
      %a{ href: '#what' } What We Do
    %li
      %a{ href: '#who' } Who We Are
    %li
      %a{ href: '#projects' } Projects
    %li
      %a{ href: '#connect' } Connect
