.nav
  #logo LessMad
  = link_to "Menu", '#', {onclick: "toggleMenu(); return false;", class: "menu-button"}
  %ul
    %li
      %a{ href: '#emberjs-consulting' } What We Do
    %li
      %a{ href: '#team' } Who We Are
    %li
      %a{ href: '#projects' } Projects
    %li
      %a{ href: '#contact' } Connect
