%li.member
  %img{src: 'images/'+member.picture}

  %h3
    = member.name

  .bio
    = member.bio

  %ul.contact
    %li
      %a.fa.fa-github{href: "https://github.com/"+member.github, title: "#{member.name}'s Github profile page"} Github
    %li
      %a.fa.fa-twitter{href: "https://twitter.com/"+member.twitter, title: "Follow #{member.name} on Twitter"} Twitter
